/* No longer being imported in main.js */

:root {
  --color-background: #f6f0f0;
  --color-header: #cfbc85;
  --color-heading: #28413b;
  --color-text: #00100b;
  --color-text-hover: #28413b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #171717;
    --color-header: #4d4632;
    --color-heading: #89c8b8;
    --color-text: #eafffa;
    --color-text-hover: #89c8b8;
  }
}

body {
  min-height: 100vh;
  padding: 0.5rem;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  margin: 40px auto;
  font-weight: normal;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
}