:root {
  --color-background: #f6f0f0;

  --color-header: #a7c3bc;

  --color-heading: #233430;
  --color-text: #00100b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #171717;

    --color-header: #314b45;

    --color-heading: #89c8b8;
    --color-text: #eafffa;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
