:root {
  --color-background: #f6f0f0;
  --color-header: #cfbc85;
  --color-card: #89c8b8;
  --color-card-2: #e4a5c6;
  --color-card-3: #d7f0d7;
  --color-heading: #28413b;
  --color-text: #00100b;
  --color-text-hover: #28413b;

  --color-table-cell: #d6caec;
  --color-table-contrast: #ad98d4;
  --color-table-hover: #ede9f5;

  --nav-bar-height: 50px; /*Avoids hiding of body content under fixed navbar*/
}

.dark { /*May be able to say :root.dark*/
  --color-background: #171717;
  --color-header: #4d4632;
  --color-card: #28413b;
  --color-card-2: #321e29;
  --color-card-3: #7ca8ff;
  --color-heading: #89c8b8;
  --color-text: #eafffa;
  --color-text-hover: #89c8b8;

  --color-table-cell: #36333a;
  --color-table-contrast: #2b2832;
  --color-table-hover: #1a1a1c;

  --nav-bar-height: 50px;
}

body {
  min-height: 100vh;
  padding: 1.5rem;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  margin: var(--nav-bar-height) auto auto auto;
  font-weight: normal;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 18px;
}